<!-- Basic block for computers -->
{% extends "Bangazon/index.html" %}

{% block content %}

  <div id="main_container">
    <h1 class="main_title">Computers</h1>
    <button class="btn btn_margin btn-primary"><a href="{% url 'Bangazon:computers' %}">View All Computers</a></button>
    <button class="btn btn_margin btn-primary"><a href ="{% url 'Bangazon:computer_form' %}">Add Computer</a></button>
    {% if computer_list %}
        <form class="filter_form" action="{% url 'Bangazon:computers' %}" method="POST">
            {% csrf_token %}
            <p>Filter Computers By Make or Manufacturer</p>
            <input placeholder="make or manufacturer" type="text" name="computer_search" id="computer_search">
            <input type="submit" value="Search">
        </form>
      <ul class="list-group list-group-flush dept_list">
        {% for computer in computer_list %}
        <li class="list-group-item">
          <a href="{% url 'Bangazon:computer_details' computer.id %}">Make:{{computer.manufacturer}} --Model: {{computer.model}}</a>
            {% for employeerel in computer.employee_computer_set.all %}
                {% if employeerel.removeDate == NULL %}
                 {% for employee in computer.employee_set.all %}
                    {% if employeerel.employee_id == employee.id %}
                        <p>Assigned To: {{employee.firstName}} {{employee.lastName}}</p>
                    {% endif %}
                {% endfor %}
                {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no_items_found">No computers in system.</p>
    {% endif %}
  </div>

{% endblock content %}
