<!-- Basic block for computers -->
{% extends "Bangazon/index.html" %}

{% block content %}

<div id="main_container detail_div">
    <h1 class="main_title">{{computer.model}}</h1>
    <ul>
      <li>
        Manufacturer: {{computer.manufacturer}}
      </li>
      <li>
        Model: {{computer.model}}
      </li>
      <li>
        Purchase Date: {{computer.purchaseDate}}
      </li>
      {% if computer.employee_computer_set.all|length == 0 and computer.decommissionDate == None %}
        <form method='post' action="{% url 'Bangazon:computer_decommision' %}">
            {% csrf_token %}
            <input type="hidden" name="computer_id" value="{{computer.id}}">
            <input type="submit" value="Decommission">
        </form>
        {% elif computer.decommissionDate != None %}

        <li>
            Decommission Date: {{computer.decommissionDate}}
        </li>
        {% elif relationships|length > 0 and None not in relationships %}
        <form method='post' action="{% url 'Bangazon:computer_decommision' %}">
            {% csrf_token %}
            <input type="hidden" name="computer_id" value="{{computer.id}}">
            <input type="submit" value="Decommission">
        </form>

      {% endif %}
        {% if computer.employee_computer_set.all|length > 0 %}
         {% for rel in computer.employee_computer_set.all %}
            {% if rel.removeDate == NULL %}
                <li>
                    Assigned To: {{rel.employee.firstName}} {{rel.employee.lastName}}
                </li>
            {% else %}
                <li>
                    Past Assignment: {{rel.employee.firstName}} {{rel.employee.lastName}}
                </li>
            {% endif %}
        {% endfor %}
        {% endif %}
    </ul>
    <div class="computer_btns">

        <form method="post" action="{% url 'Bangazon:computer_delete_confirm' %}">
            {% csrf_token %}
            <input type="hidden" value="{{computer.id}}" name="computer_id">
            <input type="submit" class="btn btn-primary" value="Delete">
        </form>
        <button class="btn btn_margin btn-primary"><a href="{% url 'Bangazon:computers' %}">Back</a></button>
    </div>

</div>

{% endblock content %}