<!-- Basic block for computers -->
{% extends "Bangazon/index.html" %}

{% block content %}

  <div id="main_container">
    <h1 class="main_title">Computers</h1>
    <a href = "{% url 'Bangazon:computer_form' %}">Add Computer</a>
    {% if computer_list %}
      <ul class="bangazon_list">
        {% for computer in computer_list %}
        <li class="bangazon_list_item d-flex">
          <a href="{% url 'Bangazon:computer_details' computer.id %}">{{computer.model}}</a>
            {% for employeerel in computer.employee_computer_set.all %}
                {% if employeerel.removeDate == NULL %}
                 {% for employee in computer.employee_set.all %}
                    {% if employeerel.employee_id == employee.id %}
                        <p>Assigned To: {{employee.firstName}} {{employee.lastName}}</p>
                    {% endif %}
                {% endfor %}
                {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no_items_found">No computers in system.</p>
    {% endif %}
  </div>

{% endblock content %}
