<!-- Basic block for departments -->
{% extends "Bangazon/index.html" %}

{% block content %}
<h1 class="main_title">Departments</h1>
<section class="department_list">
    <div>
        {% if department_list %}
        <ul class="bangazon_list">
            <p>{{department_list.employee_set}}</p>
            {% for department in department_list %}
            <li class="bangazon_list_item">
                <p>{{department.name}} </p>
                <p>Budget: ${{department.budget}} </p>
                <p> Number of Employees:
                    {{ department.employee_set.all|length}} </p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="no_items_found">No departments in system.</p>
        {% endif %}
    </div>
    <div class="add_department">
        <a href="{% url 'Bangazon:new_department' %}">Add a new department</a>
    </div>
</section>


{% endblock content %}