<!-- Basic block for  individual training program-->
{% extends "Bangazon/index.html" %}

{% block content %}
    <div id="main_container">
    <h1 class="main_title">Edit Details</h1>
    <h1 class="error_alert">The End Date for the class must be greater than the Start Date.</h1>
    <form class="add_training" action="{% url 'Bangazon:update_program' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="hidden" value="{{id}}" name="trainingprogram_id">
        <input class="form_button" type="submit" value="Save Edits">
    </form>
    <section class="training_nav_button">
        <a class="past_link" href="{% url 'Bangazon:training_programs' %}">
        <p class="past_program_btn">Cancel Edit</p>
        </a>
    </section>
</div>

{% endblock content %}