{% extends "Bangazon/index.html" %}

{% block content %}

<div id="main_container">
    <h1 class="main_title">Employee Details</h1>
    {% if employee_details %}
    <ul class="bangazon_list">
        <h3>{{employee_details.firstName}} {{employee_details.lastName}}</h3>
        <h4>{% if employee_details.isSupervisor == 1 %}--Department Supervisor{% endif %}</h4>
        <ul>
            <li class="bangazon_list_item">Hire Date: {{employee_details.startDate}}</li>
            <li class="bangazon_list_item">Department:{{employee_details.department.name}}</li>

            {% if employee_details.computer.all|length == 0 %}
            <li class="bangazon_list_item">Computer: No computer assigned.
                {% endif %}

                {% for computer in employee_details.computer.all %}
                <a href={% url 'Bangazon:computer_details' computer.id %}>
            <li>Computer: {{computer.manufacturer}} {{computer.model}} , ID#: {{computer.id}}</li></a>
            {% endfor %}
        </ul>
        <h4>Upcoming Training Enrollment</h4>
        <ul>
            {% if upcoming_training_programs|length > 0 %}
            {% for program in upcoming_training_programs %}
            <li class="bangazon_list_item">{{program.name}} beginning: {{program.startDate}}</li>
            {% endfor %}
            {% else %}
            <li class="bangazon_list_item">No upcoming enrollments</li>
            {% endif %}
        </ul>
        <h4>Completed Training Enrollment</h4>
        <ul>
            {% if past_training_programs|length > 0 %}
            {% for program in past_training_programs %}
            <li class="bangazon_list_item">{{program.name}} beginning: {{program.startDate}}</li>
            {% endfor %}
            {% else %}
            <li class="bangazon_list_item">No completed training programs</li>
            {% endif %}
        </ul>

        <button class="btn btn_margin"><a href="{% url 'Bangazon:employee_edit' employee_details.id %}">Edit Employee</a></button>


        {% else %}
        <p class="no_items_found">No employees in system.</p>
        {% endif %}
</div>

{% endblock content %}