<!-- Basic block for employees -->
{% extends "Bangazon/index.html" %}

{% block content %}

  <div id="main_container">
    <h1 class="main_title">Employees</h1>
    {% if employee_list %}
      <ul class="bangazon_list">
        {% for employee in employee_list %}
        <li class="bangazon_list_item">
          <p>{{employee.firstName}} {{employee.lastName}}</p>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no_items_found">No employees in system.</p>
    {% endif %}
  </div>

{% endblock content %}