<!-- Basic block for employees -->
{% extends "Bangazon/index.html" %}

{% block content %}

  <div id="main_container">
    <h1 class="main_title">Employees</h1>
    <a href = "{% url 'Bangazon:employee_form' %}">New Employee</a>
    {% if employee_list %}
      <ul class="bangazon_list">
        {% for employee in employee_list %}
        <li class="bangazon_list_item">
          <a href="{% url 'Bangazon:employee_details' employee.id %}">{{employee.firstName}} {{employee.lastName}}, {{employee.departmentId.name}}
          </a>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no_items_found">No employees in system.</p>
    {% endif %}
  </div>

{% endblock content %}
