<!-- Basic block for employees -->
{% extends "Bangazon/index.html" %}

{% block content %}

  <div id="main_container">
    <h1 class="main_title">Add Employee</h1>
    <form method="post" action="{% url 'Bangazon:employee_new' %}">
    {% csrf_token %}

    <label for="employee_new_first_name">First Name</label>
    <input type="text" name="firstName" id="employee_new_first_name">

    <label for="employee_new_last_name">Last Name</label>
    <input type="text" name="lastName" id="employee_new_last_name">

    <label for="employee_new_start_date">Start Date</label>
    <input type="datetime-local" name="startDate" id="employee_new_start_date">

    <label for="employee_new_supervisor">Supervisor?</label>
    <select name="supervisor" id="employee_new_supervisor"> 
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>

    <label for="employee_new_department">Department</label>
    <select name="department" id="employee_new_department">
        <option value=null>Select</option>
        {% for department in departments %}
            <option value={{department.id}}>{{department.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">

    </form>
  </div>

{% endblock content %}