<!-- Generic html template -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'Bangazon/index.css' %}">

    <title>Bangazon Sprint 1</title>

</head>

<body>
    {% block nav %}
    {% include "Bangazon/nav.html" %}
    {% endblock nav %}

    {% block content %}
    <div id="main_container">
        <img class="bangazon_logo" src="{% static '../../../../static/Bangazon/bangazonIcon.png' %}"" alt="Bangazon Logo">
        <h2 class="main_title">Welcome to</h2>
        <h1 class="main_title bold">BANGAZON</h1>
        <p class="summary">Bangazon LLC welcomes you to the team. You've been selected from a deep pool of candidates to
            help build the next, disruptive online platform. Our goal is to become the most personalized, and most powerful
            commericial platform for individuals all around the globe.<br><br>You are needed to make that happen.<br><br>In
            order to become a profitable, and sustainable organization, we need you to build all of the technology and
            tooling for the company.</p>
    </div>
    {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</body>

</html>