<!-- Basic block for  individual training program-->
{% extends "Bangazon/index.html" %}

{% block content %}
    <div id="main_container">
    <h2 class="sub_welcome_title">Welcome to</h2>
    <h1 class="main_welcome_title">BANGAZON</h1>
    <p class="welcome_para">Bangazon LLC welcomes you to the team. You've been selected from a deep pool of candidates to help build the next, disruptive online platform. Our goal is to become the most personalized, and most powerful commericial platform for individuals all around the globe.<br><br>You are needed to make that happen.<br><br>In order to become a profitable, and sustainable organization, we need you to build all of the technology and tooling for the company.</p>
</div>

{% endblock content %}