<!-- Basic block for navbar -->
{% block nav %}

<div class="navbar">
  <h1 class="nav_title">BANGAZON</h1>
  <section class="navbar_links">
      <a class="nav_button" href="{% url 'Bangazon:employees' %}">Employees</a>
      <a class="nav_button" href="{% url 'Bangazon:departments' %}">Departments</a>
      <a class="nav_button" href="{% url 'Bangazon:computers' %}">Computers</a>
      <a class="nav_button" href="{% url 'Bangazon:training_programs' %}">Training Programs</a>
  </section>
</div>

{% endblock %}