<!-- Basic block for  individual training program-->
{% extends "Bangazon/index.html" %}

{% block content %}

<div id="main_container">
  <h1 class="main_title">Create New Training Program</h1>
  <form class="add_training" action="{% url 'Bangazon:save_program' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input class="form_button" type="submit" value="Save Training">
  </form>
  <section class="training_nav_button">
    <a class="past_link" href="{% url 'Bangazon:training_programs' %}">
      <p class="past_program_btn">View Upcoming Classes</p>
    </a>
  </section>
</div>

{% endblock content %}