<!-- Basic block for training -->
{% extends "Bangazon/index.html" %}

{% block content %}

  <div id="main_container">
    <h1 class="main_title">Training Programs</h1>
    <a class="past_link" href="../Bangazon/PastTraining">
      <p class="past_program_btn">See Past Training Classes</p>
    </a>
    {% if training_program_list %}
      <ul class="bangazon_list">
        {% for program in training_program_list %}
        <li class="bangazon_list_item">
          <a class="training_name_list" href="{% url 'Bangazon:training_details' program.id %}">
            <p class="program_name">{{ program.name }}</p>
          </a>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no_items_found">No future training programs in system.</p>
    {% endif %}
  </div>

{% endblock content %}