.main_title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.no_items_found {
  color: var(--list-error);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.new_form{
    margin: 20px 25%;
    width: 50%;
    text-align: center;
}

.training_form{
    margin: 20px auto;
    width: 700px;
    text-align: center;
}

.detail_div{
    margin: 50px 100px;
    width: auto;
}

.filter_form {
  text-align: center;
  margin-bottom: 20px;
}

.btn_margin{
    margin: 10px;
}

.computer_btns{
    display: flex;
    justify-content: right;
    align-items: center;
}

a {
    color:black;
    text-decoration: none;
}
button a {
    color: white;
}

.delete_div{
    margin:15px;
}

.training_title {
  margin-bottom: 5px;
  font-weight: bolder;
  font-size: 20px;
}
.nav_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav_flex li {
    padding: 0px 5px;
}

.summary {
    margin: 25px 50px;
}
.bold{
    font-weight: 600;
    font-size: 2.5em;
}

.bangazon_logo {
    width: 20vw;
    margin-left: 40vw;
    margin-top: 10px;
    margin-bottom: 10px;
}