
.main_title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

a {
text-decoration: none;
}

.no_items_found {
  color: var(--list-error);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.new_form{
    margin: 20px 25%;
    width: 50%;
    text-align: center;
}

.training_form{
    margin: 20px 25%;
    width: 60%;
    text-align: center;
}
.detail_div{
    margin: 50px 100px;
    width: auto;
}
.filter_form {
  text-align: center;
  margin-bottom: 20px;
}
.btn_margin{
    margin: 10px;
}
.computer_btns{
    display: flex;
    justify-content: right;
    align-items: center;
}
a {
    color:black;
}

.delete_div{
    margin:15px;
}

.training_title {
  margin-bottom: 5px;
  font-weight: bolder;
  font-size: 20px;
}

.training_description {
  margin-bottom: 5px;
}

.training_start {
  margin-bottom: 5px;
}

.training_end {
  margin-bottom: 5px;
}

.training_max {
  margin-bottom: 5px;
}