.training_title {
  margin-bottom: 5px;
  font-weight: bolder;
  font-size: 20px;
}

.training_description {
  margin-bottom: 5px;
}

.training_start {
  margin-bottom: 5px;
}

.training_end {
  margin-bottom: 5px;
}

.training_max {
  margin-bottom: 5px;
}

.indiv_trainee {
  margin-left: 30px;
  color: rgb(20, 196, 20);
}

.indiv_no_trainee {
  margin-left: 30px;
  color: red;
}

.program_name{
  color: var(--main-text);
  font-size: 20px;
}

.training_name_list {
  text-decoration: none;
}

.past_link {
  text-decoration: none;
}

.past_program_btn {
  background-color: var(--background-color);
  text-align: center;
  color: var(--main-text);
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

.past_program_btn:hover {
  color:var(--navbar-text-hover);
}

.training_nav_buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.add_training {
  margin: 20px;
}

.input_section {
  margin-bottom: 10px;
}

.input_label {
  width: 20%;
  display: inline-block;
}

.input_field {
  width: 75%
}

.form_button {
  background-color: var(--main-text);
  width: 20%;
  display: flex;
  margin: auto;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.form_button:hover {
  background-color: var(--navbar-text-hover);
}