.training_title {
  margin-bottom: 5px;
  font-weight: bolder;
  font-size: 20px;
}

.training_description {
  margin-bottom: 5px;
}

.training_start {
  margin-bottom: 5px;
}

.training_end {
  margin-bottom: 5px;
}

.training_max {
  margin-bottom: 5px;
}

.indiv_trainee {
  margin-left: 30px;
  color: rgb(20, 196, 20);
}

.indiv_no_trainee {
  margin-left: 30px;
  color: red;
}

.program_name{
  color: var(--main-text);
  font-size: 20px;
}

.training_name_list {
  text-decoration: none;
}

.past_link {
  text-decoration: none;
  display: flex;
  margin: auto;
  width: 50vw;
}

.past_program_btn {
  background-color: var(--background-color);
  width: 50vw;
  margin: auto;
  text-align: center;
  color: var(--main-text);
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

.past_program_btn:hover {
  color:var(--navbar-text-hover);
}
