.training_title {
  margin-bottom: 5px;
  font-weight: bolder;
  font-size: 20px;
}

.training_description {
  margin-bottom: 5px;
}

.training_start {
  margin-bottom: 5px;
}

.training_end {
  margin-bottom: 5px;
}

.training_max {
  margin-bottom: 15px;
}

.program_name{
  color: var(--main-text);
  font-size: 20px;
}

.training_name_list {
  text-decoration: none;
}
